import os
DEFAULT_CONFIG = {
    'SERVER_NAME': 'localhost:5000',
    'JOB_DATA_FOLDER': '/Users/snehalpatil/Documents/GithubProjects/ForkEncore/runbackendscript/',
    #   SLURM_ACCOUNT': 'encore',
    'JOB_MEM_PER_CPU': 6500,
    'JOB_CPUS_PER_TASK': 56,
    'JOB_TIME': '14-0',
    'QUEUE_PARTITION': 'encore',
    'SAMPLE_ID_MAPPING': '/Users/snehalpatil/Documents/EncoreMGIDocumentations/EncoreFreeze5AOs/sampleidtochipmapping.txt',
    'PHENO_DATA_FOLDER': '/Users/snehal/Documents/EncoreData/data/',
    'GENO_DATA_FOLDER': '/Users/snehal/Documents/EncoreData/runbackendscript/',
    'EPACTS_BINARY': 'epacts',
    'SAIGE_BINARY': 'saige',
    'SAIGE_BINARY_MOD':'saige.v35.8.8.v2.Makefile',
    'QUEUE_JOB_BINARY': 'sbatch',
    'SQUEUE_JOB_BINARY': '/usr/cluster/bin/squeue',
    'CANCEL_JOB_BINARY': 'scancel',
    'MANHATTAN_BINARY': 'make_manhattan_json.py',
    'QQPLOT_BINARY': 'make_qq_json.py',
    'TOPHITS_BINARY': 'make_tophits_json.py',
    'NEAREST_GENE_BED': 'data/nearest-gene.bed',
    'VCF_FILE': '',
    'MYSQL_HOST': 'localhost',
    'MYSQL_DB': 'encore',
    'MYSQL_USER': 'prsweb',
    'MYSQL_PASSWORD': 'prsweb',
    'SECRET_KEY':'jv2uc26gncaaqckt13r62c29q0b9gau8',
    'JWT_SECRET_KEY': None,
    'GOOGLE_LOGIN_CLIENT_ID' : '843687692706-jv2uc26gncaaqckt13r62c29q0b9gau8.apps.googleusercontent.com',
    'GOOGLE_LOGIN_CLIENT_SECRET' : 'nIEqeKR4Whf_GSYITldTNvyY',
    'REMOVED':'abcds',
    'REMOVED' : 'efgdrs',
    'LD_SERVER': 'http://prsweb-dev.sph.umich.edu/ld/',
    'HELP_EMAIL': 'snehal@umich.edu',
    'BUILD_REF': {
        'GRCh37': {
            'fasta': '/data/ref/hs37d5.fa',
            'nearest_gene_bed': '/data/ref/nearest-gene.GRCh37.bed'
        },
        'GRCh38': {
            'fasta': '/data/ref/hs38DH.fa',
            'nearest_gene_bed': '/Users/snehalpatil/Documents/GithubProjects/ForkEncore/encore/anno/nearest-gene.GRCh38.bed'
        }
    }
}

for key in DEFAULT_CONFIG.keys():
    if os.getenv(key):
        DEFAULT_CONFIG[key] = os.environ[key]
    globals()[key] = DEFAULT_CONFIG[key]


ADMIN_USERS=["snehal@umich.edu"]





